/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:
	
	Eric Meyer					:: http://ericmeyer.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com
	
-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
   If this default setting for images is causing issues, you might want to replace it with a .responsive class instead. */
img,
object,
embed {
  max-width: 100%;
}
/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll;
}
/* we use a lot of ULs that aren't bulleted. 
	don't forget to restore the bullets within content. */
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}
/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th {
  font-weight: bold;
  vertical-align: bottom;
}
td {
  font-weight: normal;
  vertical-align: top;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
pre {
  white-space: pre;
  /* CSS2 */

  white-space: pre-wrap;
  /* CSS 2.1 */

  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */

  word-wrap: break-word;
  /* IE */

}
input[type="radio"] {
  vertical-align: text-bottom;
}
input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline;
}
.ie6 input {
  vertical-align: text-bottom;
}
select,
input,
textarea {
  font: 99% sans-serif;
}
table {
  font-size: inherit;
  font: 100%;
}
/* Accessible focus treatment
	people.opera.com/patrickl/experiments/keyboard/test */
a:hover,
a:active {
  outline: none;
}
small {
  font-size: 85%;
}
strong,
th {
  font-weight: bold;
}
td,
td img {
  vertical-align: top;
}
/* Make sure sup and sub don't screw with your line-heights
	gist.github.com/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* standardize any monospaced elements */
pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}
/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}
/* Webkit browsers add a 2px margin outside the chrome of form elements */
button,
input,
select,
textarea {
  margin: 0;
}
/* make buttons play nice in IE */
button {
  width: auto;
  overflow: visible;
}
/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}
/* let's clear some floats */
.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
/* Ok, this is where the fun starts.
-------------------------------------------------------------------------------*/
/* new Linux- and Windows-friendly sans-serif font stack: http://mky.be/fontstack */
body {
  font: 13px Helmet, Freesans, sans-serif;
}
/* using local fonts? make sure to read up on Paul Irish's 
	Bulletproof @font-face syntax: http://mky.be/font-face/bulletproof/ */
/* we like off-black for text */
body,
select,
input,
textarea {
  color: #333;
}
a {
  color: #03f;
}
a:hover {
  color: #69f;
}
/* Custom text-selection colors (remove any text shadows: twitter.com/miketaylr/status/12228805301) */
::-moz-selection {
  background: #fcd700;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #fcd700;
  color: #fff;
  text-shadow: none;
}
/*	j.mp/webkit-tap-highlight-color */
a:link {
  -webkit-tap-highlight-color: #fcd700;
}
ins {
  background-color: #fcd700;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #fcd700;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
/*-  BASE STYLES
----------------------------------------------------------------------*/
/*- self-clearing floats ----------*/
.mod:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/*- fluid images and objects ----------*/
.not-front img,
object,
embed {
  max-width: 100%;
}
/*- optional vanity styles ----------*/
::selection {
  background: #E8E6CA;
  color: #000;
}
::-moz-selection {
  background: #E8E6CA;
  color: #000;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
@media only screen and (max-device-width: 480px) {
  html {
    -webkit-text-size-adjust: none;
  }
  a {
    -webkit-tap-highlight-color: rgba(200, 0, 0, 0.4);
  }
}
/*- TYPE
----------------------------------------------------------------------*/
h1,
h2,
h3,
nav ul li a {
  font-family: "ff-dagny-web-pro-1", "ff-dagny-web-pro-2", Helvetica, Arial, Verdana, sans-serf;
}
#body h1,
h2,
h3 {
  font-weight: normal;
}
#body h3 {
  padding-top: 0.75em;
  padding-bottom: 0.5em;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
}
/*- LET'S GET STARTED!
----------------------------------------------------------------------*/
html,
body {
  height: 100%;
}
body {
  background-color: #fff;
  color: #000;
  font-family: "ff-dagny-web-pro-1", "ff-dagny-web-pro-2", Helvetica, Arial, Verdana, sans-serf;
  font-size: 17px;
  line-height: 22px;
  margin: 0;
  padding: 0 0 0px 0;
  /*overflow-x: hidden;*/

}
body.projectOpen {
  background: #F4F4F4;
}
abbr {
  cursor: help;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #000;
}
p {
  font-size: 18px;
  margin-bottom: 1.2em;
  color: #545454;
  font-weight: 200;
  line-height: 1.4em;
  font-family: "chaparral-pro-1", "chaparral-pro-2", Georgia, Times New Roman, Times, serif;
}
p a {
  border-bottom: 1px solid #ccc;
  -webkit-transition: border-bottom 0.2s linear;
  -moz-transition: border-bottom 0.2s linear;
  -o-transition: border-bottom 0.2s linear;
  transition: border-bottom 0.2s linear;
  position: relative;
}
p a:hover {
  border-bottom: 1px solid #000;
}
p a:active {
  top: 1px;
}
/*- Nav
----------------------------------------------------------------------*/
/* LESS functions */
/* END LESS functions */
header#page {
  background: #000;
  padding-top: 7px;
}
header#page h1,
header#page h2 {
  color: #CCC;
  padding: 0 15px 7px;
  float: left;
  font-size: 15px;
  font-weight: 400;
}
header#page h1 a,
header#page h2 a {
  color: #fff;
}
nav {
  position: relative;
  float: right;
  zoom: 1;
  *zoom: 1;
}
nav:before,
nav:after {
  display: table;
  content: "";
}
nav:after {
  clear: both;
}
nav h2 {
  position: absolute;
  top: -9999px;
}
nav ul {
  display: block;
  text-align: center;
}
nav ul li {
  position: relative;
  display: inline;
}
nav ul li a {
  padding: 0 15px 7px;
  display: block;
  position: relative;
  float: left;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px;
  color: #999;
}
nav ul li a:hover,
nav ul li a.active:hover {
  color: #fff;
}
nav ul li a.active {
  color: #fff;
}
.node-type-work nav li.work a:hover,
.node-type-article nav li.words a:hover,
.page-taxonomy-term nav li.words a:hover {
  color: #fff;
}
.node-type-work nav li.work a,
.node-type-article nav li.words a,
.page-taxonomy-term nav li.words a {
  color: #fff;
}
.showMenu {
  color: #999;
  display: block;
  clear: left;
  text-align: center;
  cursor: pointer;
  height: 44px;
  line-height: 44px;
  display: none;
}
.showMenu .arrow-down {
  position: absolute;
  margin: 20px 0 0 5px;
  border-top: 5px solid #999;
}
.showMenu.open .arrow-down {
  border-bottom: 5px solid #999;
  border-top: none;
}
.showMenu:hover {
  color: #fff;
}
.showMenu:hover .arrow-down {
  border-top: 5px solid #FFF;
}
.showMenu:hover.open .arrow-down {
  border-bottom: 5px solid #FFF;
  border-top: none;
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #FFF;
}
/*- CONTENT
----------------------------------------------------------------------*/
article,
header,
footer,
#loading {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}
article,
header {
  max-width: none;
}
article.clearfix {
  overflow-x: hidden;
  padding-top: 50px;
}
/*Work page - Make it fluid width*/
.not-front.page-node-23 header,
.not-front.page-node-23 footer {
  max-width: none;
}
.front.projectOpen header,
.page-node-23.projectOpen header {
  background: transparent;
}
.page-node-23 header #headerContent {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 100%;
  max-width: 960px;
}
.front #body,
.page-node-23 #body {
  margin: 0 auto;
}
#body {
  position: relative;
  width: 100%;
  max-width: 1000px;
  padding: 0;
  z-index: 2;
  margin: 0;
}
#body #words ul li {
  width: 100%;
}
#body ul {
  font-size: 0.8em;
  color: #9A9885;
  margin-bottom: 1em;
  padding-left: 15px;
}
#body ul li {
  margin-bottom: 0.5em;
}
#body ul li,
#body ul li a {
  color: #9A9885;
}
#body ul li a:hover {
  color: #616054;
}
#block-views-frontpage-work-front-block {
  position: relative;
  float: left;
  display: block;
  clear: left;
  width: 100%;
}
.node-type-work .block h1 {
  border-bottom: 1px solid black;
  font-size: 0.9em;
  letter-spacing: -0.05em;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.node-type-work #body #lead {
  margin-bottom: 2%;
}
.node-type-work #body #lead .intro,
.front #body #lead .intro,
.page-node-23 #body #lead .intro {
  position: absolute;
  top: 50px;
  width: 200px;
  left: 750px;
  z-index: 100;
}
.node-type-work #body #lead .intro h1,
.front #body #lead .intro h1,
.page-node-23 #body #lead .intro h1 {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.node-type-work #body #lead .intro p,
.front #body #lead .intro p,
.page-node-23 #body #lead .intro p {
  line-height: 22px;
  font-size: 16px;
}
/*White backgrounds on the lead paragraphs for pieces 
	that have a dark background */
#body.powercenterwebsite #lead .intro,
#body.gabbardfarms #lead .intro,
#body.versionone #lead .intro,
#body.springcreekranch #lead .intro {
  background: rgba(255, 255, 255, 0.9);
  left: 800px;
  width: 150px;
  padding: 10px;
}
#body.gabbardfarms #lead .intro,
#body.versionone #lead .intro {
  width: 175px;
  left: 775px;
}
#body.springcreekranch #lead .intro {
  left: 740px;
  width: 200px;
}
#body.cottonusasupplychain #lead .intro,
#body.myportfoliowebapp #lead .intro,
#body.eticketsapp #lead .intro {
  background: rgba(0, 0, 0, 0.9);
  left: 688px;
  width: 270px;
  top: 200px;
  padding: 10px;
  color: #fff;
}
#body.myportfoliowebapp #lead .intro,
#body.eticketsapp #lead .intro {
  width: 200px;
  left: 730px;
}
.block .cottonusasupplychain h1,
.block .myportfoliowebapp h1,
.block .eticketsapp h1 {
  border-bottom: 1px solid #fff;
}
#body.cottonusasupplychain #lead .intro p,
#body.myportfoliowebapp #lead .intro p,
#body.eticketsapp #lead .intro p {
  color: #fff;
  line-height: 1.5em;
}
.node-type-work #body #words,
.front #body #words,
.page-node-23 #body #words {
  width: 35%;
  float: right;
  clear: right;
}
.node-type-work #body #words p,
.front #body #words p,
.page-node-23 #body #words p {
  line-height: 22px;
  font-size: 16px;
}
#body #otherImages {
  float: left;
  width: 62%;
  margin-right: 2%;
}
#body #otherImages img {
  width: 100%;
  margin-bottom: 2%;
  display: block;
}
/*- ARTICLE CONTENT
----------------------------------------------------------------------*/
.node-type-article #block-system-main,
.node-type-article #block-system-main .article {
  height: 100%;
}
.body {
  position: relative;
}
.body p {
  font-family: "minion-pro-1", "minion-pro-2", Georgia, Times New Roman, Times, serif;
  margin-bottom: 0px;
  font-size: 1em;
  line-height: 1.8em;
  text-indent: 20px;
  margin-right: 500px;
}
.body strong {
  color: #000;
}
.body h3 {
  margin: 30px 0px 15px;
  font-size: 1.2em;
}
/*- FOOTER
----------------------------------------------------------------------*/
footer {
  padding: 30px 0;
  font-size: 0.7em;
  color: #212121;
  overflow: hidden;
  width: 100%;
  max-width: 1000px;
}
footer .content {
  float: left;
}
footer a {
  color: #000000;
  border-bottom: 1px solid #000000;
}
footer a:hover {
  color: #000000;
  border-bottom: 1px solid #000000;
}
.projectOpen footer {
  color: #000;
}
.projectOpen footer a {
  color: #000;
}
.front footer .content,
.page-node-23 footer .content {
  margin: 0px auto;
  text-align: center;
  float: none;
}
/*- About PJ Page
----------------------------------------------------------------------*/
img.aboutPJ {
  position: absolute;
  z-index: 0;
  top: -50px;
}
.aboutcontent {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  width: 400px;
  left: 500px;
  top: 520px;
  padding: 12px;
  color: white;
}
.aboutcontent p {
  color: #fff;
}
.aboutcontent p a {
  color: #999;
  border-bottom: 1px solid #999;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
.aboutcontent p a:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
}
.page-node-6 h1 {
  display: none;
}
.page-node-6 #body {
  min-height: 1000px;
  margin: 0 auto;
}
#about p {
  position: relative;
  z-index: 10;
}
#about h2,
#about h3,
#about h4 {
  position: relative;
  z-index: 10;
}
#about h2 {
  font-size: 42px;
  line-height: 1em;
  font-weight: 600;
  top: -56px;
  left: 20px;
  color: #000;
  color: rgba(0, 0, 0, 0.75);
}
#about h3 {
  font-size: 160px;
  font-weight: 600;
  color: #fff;
  color: #ffffff;
  text-shadow: -1px 1px 3px rgba(0, 0, 0, 0.8);
  top: -47px;
  left: 29px;
  line-height: 150px;
  padding-top: 0;
}
#about h4 {
  font-size: 24px;
  width: 430px;
  line-height: 1.3em;
  top: -116px;
  left: 40px;
  color: rgba(0, 0, 0, 0.9);
  text-shadow: -1px 1px 1px rgba(255, 255, 255, 0.5);
}
/*- CMS OVerrides
----------------------------------------------------------------------*/
ul.tabs {
  position: relative;
  z-index: 100;
}
/*- New Portfolio Design
----------------------------------------------------------------------*/
body.page-node-23 article {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}
#bodyWrap .header {
  display: none;
}
ul.worklist {
  width: 102%;
  margin-right: -1%;
}
ul.worklist .nid,
ul.worklist .path {
  display: none;
}
ul.worklist li {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  margin: 0 -3px 0 -2px;
}
ul.worklist li.open {
  margin-bottom: 15px;
}
ul.worklist li.open #bodyWrap {
  background: #fff;
  /*If you add to the padding-top value, remember to add the same amount to the +height in the 
				sizeProjectCanvas() function in functions.js */

  padding: 60px 0 40px;
  position: absolute;
  width: 98%;
  left: 1%;
  border: 1px solid #ccc;
  margin-top: -1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 6px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 6px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.1) 0 0 6px 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 6px 0;
}
ul.worklist li.open #bodyWrap a {
  background: transparent;
  width: auto;
  border: none;
  float: none;
}
ul.worklist li.open #bodyWrap .header {
  display: block;
  border-bottom: 1px solid #e6e6e6;
  zoom: 1;
  *zoom: 1;
  width: 100%;
  position: absolute;
  background: #fff;
  top: 0;
}
ul.worklist li.open #bodyWrap .header:before,
ul.worklist li.open #bodyWrap .header:after {
  display: table;
  content: "";
}
ul.worklist li.open #bodyWrap .header:after {
  clear: both;
}
ul.worklist li.open #bodyWrap .header.floatingHeader {
  position: fixed;
  width: 98%;
  left: 1%;
  border-left: 1px solid #ccc;
  z-index: 9999;
}
ul.worklist li.open #bodyWrap .header .title,
ul.worklist li.open #bodyWrap .header .controls {
  padding: 10px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
ul.worklist li.open #bodyWrap .header .controls {
  position: relative;
  float: right;
}
ul.worklist li.open #bodyWrap .header .controls .closeProject {
  font-size: 40px;
  position: absolute;
  right: 10px;
  color: #a1a1a1;
}
ul.worklist li.open #bodyWrap .header .controls .closeProject:hover {
  color: #545454;
}
ul.worklist li.open #bodyWrap .header .title {
  color: #545454;
  position: relative;
  float: left;
  width: 50%;
}
ul.worklist li.open .image {
  background: transparent url(i/project-arrow.png) no-repeat center bottom;
  position: relative;
  z-index: 1000;
}
ul.worklist li.open img {
  opacity: 1 !important;
}
ul.worklist li h2 {
  text-align: left;
  padding-top: 5px;
  clear: left;
  color: #000000;
  border-left: 1px solid #545454;
  padding-left: 14px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
}
ul.worklist li .blurb {
  font-size: 13px;
  padding-left: 15px;
  width: 80%;
}
ul.worklist li .blurb p {
  line-height: 1.5em;
  color: #6e6e6e;
  font-size: 14px;
  font-weight: 400;
}
ul.worklist li .blurb p strong {
  color: #000;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "ff-dagny-web-pro-1", "ff-dagny-web-pro-2", Helvetica, Arial, Verdana, sans-serf;
}
ul.worklist li .blurb p a {
  display: inline;
  background: transparent;
  border-top: none;
  max-height: none;
  float: none;
}
ul.worklist li .image {
  padding-bottom: 40px;
}
ul.worklist li a {
  float: left;
  width: 100%;
  max-height: 300px;
  overflow: hidden;
  background: #000000;
  border-top: 5px solid #000000;
}
ul.worklist li img {
  width: 100%;
}
/*- Blog
----------------------------------------------------------------------*/
.node-type-article footer .content {
  width: 1000px;
}
.post {
  position: relative;
}
.node-type-article article .articleWrap.fillpost {
  margin-top: -50px;
}
article .post.first .articleWrap.fillpost {
  margin-top: -50px;
}
article#blogRoll {
  max-width: none;
}
article .articleWrap {
  border-bottom: 1px solid #ccc;
  padding-bottom: 40px;
  margin-bottom: 40px;
}
article .articleWrap.fillpost {
  margin-top: -40px;
}
article .articleWrap.post-35 {
  border-bottom: none;
  padding-bottom: 0;
}
article .articleWrap .fill img {
  position: absolute;
  z-index: 0;
  width: 100%;
  min-width: 1000px;
  top: 0;
}
article .articleWrap article.post {
  max-width: 600px;
}
article .articleWrap article.post img {
  -webkit-box-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  -o-box-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
}
article .articleWrap article.post header h1,
article .articleWrap article.post header h2 {
  text-align: center;
  float: none;
  display: block;
  font-size: 42px;
  font-weight: 600;
  color: #000;
  line-height: 48px;
}
article .articleWrap article.post header h1 a,
article .articleWrap article.post header h2 a {
  float: none;
  display: block;
}
article .articleWrap article.post header h1 a:hover,
article .articleWrap article.post header h2 a:hover {
  border-bottom: none;
}
article .articleWrap article.post ul {
  list-style: outside;
  margin-bottom: 1.2em;
}
article .articleWrap article.post ul li {
  margin-bottom: 5px;
}
article .articleWrap article.post aside {
  text-align: center;
  padding: 10px 0 30px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #545454;
}
article .articleWrap article.post aside .tags {
  padding-left: 5px;
  margin-left: 5px;
  border-left: 1px solid #e6e6e6;
}
article .articleWrap article.post aside .tags div {
  display: inline;
}
article .articleWrap article.post aside .tags a {
  background: #d3d3d3;
  padding: 3px 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
article .articleWrap article.post aside .tags a:hover {
  background: #545454;
  color: #fff;
}
article .articleWrap article.post .firstParagraph p {
  font-size: 24px;
  line-height: 32px;
  color: #000;
}
article .articleWrap article.post .firstParagraph span.code {
  font-size: 18px;
  padding-left: 5px;
  padding-right: 5px;
}
article .articleWrap article.post blockquote {
  background: #ECECEC;
  padding: 15px 15px 2px 15px;
}
article .articleWrap article.post blockquote:after {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
article .articleWrap article.post blockquote:after {
  border-top-color: #ececec;
  border-width: 10px;
  left: 50%;
  margin-left: -10px;
}
article .articleWrap article.post p.cite {
  padding-top: 15px;
  text-align: center;
  font-family: "ff-dagny-web-pro-1", "ff-dagny-web-pro-2", Helvetica, Arial, Verdana, sans-serf;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
}
article .articleWrap .pager {
  width: 600px;
  margin: 0 auto;
  zoom: 1;
  *zoom: 1;
}
article .articleWrap .pager:before,
article .articleWrap .pager:after {
  display: table;
  content: "";
}
article .articleWrap .pager:after {
  clear: both;
}
article .articleWrap .pager.sticky {
  position: fixed;
}
article .articleWrap .pager .next,
article .articleWrap .pager .prev {
  width: 50%;
  position: relative;
  background: rgba(255, 255, 255, 0.85);
}
article .articleWrap .pager .next a,
article .articleWrap .pager .prev a {
  color: #999;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  border-bottom: 1px solid #FFF;
  font-size: 15px;
  line-height: 18px;
}
article .articleWrap .pager .next a:hover,
article .articleWrap .pager .prev a:hover {
  color: #000;
  border-bottom: 1px solid #000;
}
article .articleWrap .pager .next {
  float: left;
}
article .articleWrap .pager .prev {
  float: right;
  text-align: right;
}
article .articleWrap .pager .label {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #999;
}
article .gist {
  font-size: 14px;
}
article .gist pre {
  white-space: pre;
}
article .gist .gist-file .gist-meta {
  font-size: 11px;
}
span.code {
  font-family: 'Bitstream Vera Sans Mono', 'Courier', monospace;
  font-size: 15px;
  color: #000;
  font-weight: bold;
}
/* Custom post styles */
/*
Posts with big background images, ie "Fillposts"
4th of July, Disney World pic */
article.post.post-35,
.fillpost article {
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #fff;
  padding: 20px;
  margin-top: 200px;
}
article .articleWrap.fillpost p {
  color: #000;
}
article .articleWrap.fillpost .pager {
  clear: both;
  background: rgba(255, 255, 255, 0.7);
  padding: 20px;
}
/*Posts that float the article left and the pagers right */
article .articleWrap.left {
  zoom: 1;
  *zoom: 1;
}
article .articleWrap.left:before,
article .articleWrap.left:after {
  display: table;
  content: "";
}
article .articleWrap.left:after {
  clear: both;
}
article .articleWrap.left article.post {
  margin-left: 100px;
  float: left;
}
article .articleWrap.left .pager {
  border: 1px solid #fff;
  border-top: none;
}
/*Pathology report excerpt post */
article .articleWrap.post-44 {
  background: url('i/tan-noise-fill.jpg');
}
article .articleWrap.post-44 article.post {
  background: rgba(255, 255, 255, 0.85);
}
/*- Testicular Cancer
----------------------------------------------------------------------*/
article.post-24,
li.post article.post-24 {
  width: 1000px;
  max-width: 1000px;
  margin: 40px auto;
  padding-top: 370px;
  background: transparent url(i/tc.png) center top no-repeat;
}
article.post-24 p,
li.post article.post-24 p {
  color: #434343;
}
article.post-24 p.date,
li.post article.post-24 p.date {
  font-family: "ff-dagny-web-pro-1", "ff-dagny-web-pro-2", Helvetica, Arial, Verdana, sans-serf;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 50px;
}
article.post-24 h1,
li.post article.post-24 h1,
article.post-24 h2,
li.post article.post-24 h2,
article.post-24 h3,
li.post article.post-24 h3 {
  text-align: center;
}
article.post-24 h3,
li.post article.post-24 h3 {
  padding: 30px 0;
  font-size: 24px;
}
article.post-24 h1,
li.post article.post-24 h1 {
  font-size: 80px;
  line-height: 90px;
  text-transform: uppercase;
  letter-spacing: 7px;
}
article.post-24 #help,
li.post article.post-24 #help {
  overflow: hidden;
  display: block;
  margin-bottom: 40px;
}
article.post-24 #help li,
li.post article.post-24 #help li {
  display: inline;
  width: 50%;
  float: left;
}
article.post-24 #help li h2,
li.post article.post-24 #help li h2 {
  margin: 20px auto;
  background: transparent url(i/ball.png) top center no-repeat;
  height: 60px;
  padding-top: 40px;
}
article.post-24 #help li p,
li.post article.post-24 #help li p {
  padding: 0 50px;
  clear: both;
}
article.post-24 a.donate,
li.post article.post-24 a.donate {
  width: 100%;
  display: block;
  float: left;
  text-align: center;
  border-bottom: none;
  background: #ffc13c;
  border: 1px solid #db9c13;
  padding: 10px 0;
  border-radius: 5px;
  font-family: "ff-dagny-web-pro-1", "ff-dagny-web-pro-2", Helvetica, Arial, Verdana, sans-serf;
  font-weight: bold;
}
article.post-24 a.donate:hover,
li.post article.post-24 a.donate:hover {
  background: #dda326;
  border: 1px solid #b98a23;
  color: #FFF;
}
#block-views-cancer-updates-block {
  width: 500px;
  margin: 50px auto 60px;
  float: none;
}
#block-views-cancer-updates-block h2 {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #a1a1a1;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 3px solid #a1a1a1;
}
#block-views-cancer-updates-block ul li {
  list-style: none;
  border-bottom: 1px solid #f0f0f0;
  padding: 15px 10px 20px;
}
#block-views-cancer-updates-block ul li .title a:hover {
  text-decoration: underline;
}
#block-views-cancer-updates-block ul li .date {
  font-size: 12px;
  text-transform: uppercase;
  color: #545454;
}
/*- Store
----------------------------------------------------------------------*/
.page-cart .commerce-line-item-views-form table {
  width: 70%;
  float: left;
}
.page-cart .commerce-line-item-views-form table td,
.page-cart .commerce-line-item-views-form table th {
  padding: 10px;
}
.page-cart .commerce-line-item-views-form table th {
  padding-bottom: 0;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.page-cart .commerce-line-item-views-form .line-item-summary,
.page-cart .commerce-line-item-views-form .form-actions {
  float: right;
  clear: right;
}
.page-cart .commerce-line-item-views-form .line-item-summary {
  padding: 10px 0 0 10px;
  margin-top: 30px;
  width: 25%;
}
.page-cart .commerce-line-item-views-form .line-item-summary .line-item-total-label {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.page-cart .commerce-line-item-views-form .line-item-summary .line-item-total-raw {
  font-size: 24px;
}
.page-cart .commerce-line-item-views-form .line-item-summary .credtCards {
  background: transparent url(i/cc_icons.gif) no-repeat right 10px;
  padding-top: 40px;
  position: absolute;
  top: 150px;
  border-top: 1px solid #e6e6e6;
}
.page-cart .commerce-line-item-views-form .line-item-summary .credtCards p {
  font-size: 11px;
  line-height: 14px;
  font-family: "ff-dagny-web-pro-1", "ff-dagny-web-pro-2", Helvetica, Arial, Verdana, sans-serf;
  font-weight: normal;
}
.page-cart .commerce-line-item-views-form .form-actions {
  margin-top: 0;
}
.page-cart .commerce-line-item-views-form .form-actions #edit-submit,
.page-cart .commerce-line-item-views-form .form-actions #edit-checkout {
  position: relative;
}
.page-cart .commerce-line-item-views-form .form-actions #edit-submit {
  border: none;
  background: #fff;
  margin-right: 20px;
  font-size: 13px;
  text-decoration: underline;
  color: #878787;
}
.page-cart .commerce-line-item-views-form .form-actions #edit-submit:hover {
  color: #000;
}
.page-cart .commerce-line-item-views-form .form-actions #edit-checkout {
  background: #BE7;
  border: 1px solid #71b517;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #395b0b;
  padding: 10px;
  position: relative;
}
.page-cart .commerce-line-item-views-form .form-actions #edit-checkout:hover {
  background: #a4e84a;
  border: 1px solid #558811;
  color: #1c2d06;
}
.page-cart .commerce-line-item-views-form .form-actions #edit-submit:active,
.page-cart .commerce-line-item-views-form .form-actions #edit-checkout:active {
  top: 1px;
}
/*- Media Queries
----------------------------------------------------------------------*/
/* NEW RULES */
@media screen and (min-width: 240px) and (max-width: 600px) {
  article .articleWrap .pager {
    width: 90%;
    margin-left: 5%;
  }
  article article {
    width: 90%;
    margin-left: 5%;
  }
  .node-type-article footer .content,
  .not-front article#blogRoll .articleWrap article {
    width: 90%;
    margin-left: 5%;
  }
}
@media screen and (min-width: 240px) and (max-width: 768px) {
  ul.worklist li {
    width: 70%;
  }
  article header h1,
  article header h2 {
    position: relative;
    margin-top: 0;
  }
}
@media screen and (min-width: 240px) and (max-width: 320px) {
  ul.worklist li {
    width: 50%;
  }
}
@media screen and (min-width: 320px) and (max-width: 930px) {
  .front #body #lead .intro,
  .node-type-work #body #lead .intro,
  .page-node-23 #body #lead .intro {
    width: 100%;
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
  }
  .front #body #lead img,
  .node-type-work #body #lead img,
  .page-node-23 #body #lead img {
    width: 120%;
    max-width: 120%;
  }
}
@media screen and (min-width: 320px) and (max-width: 600px) {
  .front #body #otherImages,
  .node-type-work #body #otherImages,
  .page-node-23 #body #otherImages {
    width: 100%;
  }
  .front #body #otherImages img,
  .node-type-work #body #otherImages img,
  .page-node-23 #body #otherImages img {
    width: 90%;
    margin: 0 auto 10px;
  }
  .node-type-work #body #words,
  .front #body #words,
  .page-node-23 #body #words {
    width: 80%;
    float: left;
    clear: left;
    padding-left: 10%;
  }
}
@media screen and (min-width: 240px) and (max-width: 480px) {
  ul.worklist li {
    width: 50%;
  }
  article .articleWrap article.post header h1,
  article .articleWrap article.post header h2 {
    font-size: 30px;
    line-height: 36px;
  }
  article .articleWrap article.post .firstParagraph p {
    font-size: 18px;
    line-height: 24px;
  }
  article.post p,
  article.post ul li {
    font-size: 16px;
  }
  .showMenu {
    display: block;
  }
  nav {
    float: left;
    display: none;
  }
  nav ul {
    text-align: left;
  }
  nav ul li {
    direction: block;
  }
  nav ul li a {
    display: block;
    float: none;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  ul.worklist li {
    width: 50%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  header.clearfix h1 {
    width: 50%;
  }
  .body p {
    margin-right: 30%;
    margin-left: 20px;
  }
  .body h3 {
    margin-left: 20px;
  }
}
@media screen and (min-width: 1145px) and (max-width: 1700px) {
  ul.worklist li {
    width: 20%;
  }
}
@media screen and (min-width: 1700px) {
  ul.worklist li {
    width: 10%;
  }
}
@media screen and (max-width: 1024px) {
  article .articleWrap.left article.post {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
}
@media screen and (min-width: 1024px) {
  article .articleWrap .pager {
    width: 100%;
    position: absolute;
    top: 40px;
  }
  article .articleWrap .pager .next,
  article .articleWrap .pager .prev {
    width: 150px;
    padding: 20px;
  }
  /* custom layout: left articles */
  article .articleWrap.left .pager {
    background: transparent;
    padding: 0;
    border: none;
    margin-left: 0;
  }
  article .articleWrap.left .pager .next {
    float: right;
    border-bottom: 1px solid #ccc;
  }
  article .articleWrap.left .pager .prev {
    clear: right;
  }
}
