/*- Media Queries
----------------------------------------------------------------------*/
/* NEW RULES */
@media screen and (min-width: 240px) and (max-width: 768px) {
  ul.worklist li {
    width: 70%;
  }
  nav {
    float: none;
  }
  header h1 {
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 40px;
  }
  nav ul {
    display: block;
    text-align: center;
    width: 100%;
  }
  nav ul li {
    float: none;
    position: relative;
    display: inline;
  }
  nav ul li a {
    display: inline;
    float: none;
  }
  nav ul li a.active {
    top: 5px;
  }
  nav ul li a:hover {
    top: 12px;
  }
}
@media screen and (min-width: 240px) and (max-width: 320px) {
  ul.worklist li {
    width: 100%;
  }
}
@media screen and (min-width: 320px) and (max-width: 930px) {
  .front #body #lead .intro {
    width: 100%;
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
  }
  .front #body #lead img {
    width: 120%;
    max-width: 120%;
  }
}
@media screen and (min-width: 320px) and (max-width: 600px) {
  .front #body #otherImages {
    width: 100%;
  }
  .front #body #otherImages img {
    width: 90%;
    margin: 0 auto 10px;
  }
  .node-type-work #body #words, .front #body #words {
    width: 80%;
    float: left;
    clear: left;
    padding-left: 10%;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  ul.worklist li {
    width: 100%;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  ul.worklist li {
    width: 50%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  
}
@media screen and (min-width: 1145px) and (max-width: 1700px) {
  ul.worklist li {
    width: 20%;
  }
}
@media screen and (min-width: 1700px) and (max-width: 2100px) {
  ul.worklist li {
    width: 10%;
  }
}
