/* NEW RULES */
@media screen and (min-width: 240px) and (max-width: 600px) {
  article .articleWrap .pager {
    width: 90%;
    margin-left: 5%;
  }
  article article {
    width: 90%;
    margin-left: 5%;
  }
  .node-type-article footer .content,
  .not-front article#blogRoll .articleWrap article {
    width: 90%;
    margin-left: 5%;
  }
}
@media screen and (min-width: 240px) and (max-width: 768px) {
  ul.worklist li {
    width: 70%;
  }
  article header h1,
  article header h2 {
    position: relative;
    margin-top: 0;
  }
}
@media screen and (min-width: 240px) and (max-width: 320px) {
  ul.worklist li {
    width: 50%;
  }
}
@media screen and (min-width: 320px) and (max-width: 930px) {
  .front #body #lead .intro,
  .node-type-work #body #lead .intro,
  .page-node-23 #body #lead .intro {
    width: 100%;
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
  }
  .front #body #lead img,
  .node-type-work #body #lead img,
  .page-node-23 #body #lead img {
    width: 120%;
    max-width: 120%;
  }
}
@media screen and (min-width: 320px) and (max-width: 600px) {
  .front #body #otherImages,
  .node-type-work #body #otherImages,
  .page-node-23 #body #otherImages {
    width: 100%;
  }
  .front #body #otherImages img,
  .node-type-work #body #otherImages img,
  .page-node-23 #body #otherImages img {
    width: 90%;
    margin: 0 auto 10px;
  }
  .node-type-work #body #words,
  .front #body #words,
  .page-node-23 #body #words {
    width: 80%;
    float: left;
    clear: left;
    padding-left: 10%;
  }
}
@media screen and (min-width: 240px) and (max-width: 480px) {
  ul.worklist li {
    width: 50%;
  }
  article .articleWrap article.post header h1,
  article .articleWrap article.post header h2 {
    font-size: 30px;
    line-height: 36px;
  }
  article .articleWrap article.post .firstParagraph p {
    font-size: 18px;
    line-height: 24px;
  }
  article.post p,
  article.post ul li {
    font-size: 16px;
  }
  .showMenu {
    display: block;
  }
  nav {
    float: left;
    display: none;
  }
  nav ul {
    text-align: left;
  }
  nav ul li {
    direction: block;
  }
  nav ul li a {
    display: block;
    float: none;
  }
  nav ul li.rss a {
    margin-left: 0;
    padding: 0 15px 7px;
    background: transparent;
    text-indent: 0;
    height: auto;
    width: auto;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  ul.worklist li {
    width: 50%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  header.clearfix h1 {
    width: 50%;
  }
  .body p {
    margin-right: 30%;
    margin-left: 20px;
  }
  .body h3 {
    margin-left: 20px;
  }
}
@media screen and (min-width: 1145px) and (max-width: 1700px) {
  ul.worklist li {
    width: 20%;
  }
}
@media screen and (min-width: 1700px) {
  ul.worklist li {
    width: 10%;
  }
}
@media screen and (min-width: 1024px) {
  article .articleWrap .pager {
    width: 100%;
    position: absolute;
    top: 40px;
  }
  article .articleWrap .pager .next,
  article .articleWrap .pager .prev {
    width: 150px;
    padding: 20px;
  }
  /*Excerpts from pathology report */
  article .articleWrap.post-44 .pager {
    background: transparent;
    padding: 0;
    border: none;
    margin-left: 0;
  }
  article .articleWrap.post-44 .pager .next {
    float: right;
    border-bottom: 1px solid #ccc;
  }
  article .articleWrap.post-44 .pager .prev {
    clear: right;
  }
}
