/*- TYPE
----------------------------------------------------------------------*/


.dagny() {
	font-family: "ff-dagny-web-pro-1","ff-dagny-web-pro-2", Helvetica, Arial, Verdana, sans-serf; 
	}

.chaparral() {
	font-family: "chaparral-pro-1","chaparral-pro-2", Georgia, Times New Roman, Times, serif; 	
}	

.mono() {
	font-family: 'Bitstream Vera Sans Mono', 'Courier', monospace;
}

h1, 
h2, 
h3, 
nav ul li a { 
	 .dagny(); 
	 }

#body h1, 
h2,
h3 { 
	font-weight: normal; 
	}


#body h3 { 
	padding-top: 0.75em; 
	padding-bottom: 0.5em; 
	font-size: 13px;  
	text-transform: uppercase; 
	letter-spacing: 2px; 
	font-weight: 600; 
	}

