header#page  
  background: $blue 
  color: #fff
  margin-bottom: 50px 
  
  a
    color: $blue_light 
    border-bottom: 1px solid $blue_light
    
    &:hover 
      text-decoration: none 
    
  
  .header-reveal 
    .content
      display: none 
      
  h2 
    font-size: em(18px) 
    margin: 0 
    padding: 0 
    
  nav 
    float: right 
    
    ul
      li 
        display: inline
        float: left 
        list-style: none   
        
        a 
          padding: 5px 10px
          display: inline-block
          border-bottom: none 
          border-right: 1px solid $blue_dark
          
          &:hover 
            background: $blue_dark 
            color: #fff 
            text-decoration: none 