/* line 17, ../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 14, ../sass/type.scss */
h1,
h2,
h3,
nav ul li a {
  font-family: "ff-dagny-web-pro-1","ff-dagny-web-pro-2", Helvetica, Arial, Verdana, sans-serf; }

/* line 19, ../sass/type.scss */
#body h1, #body h2, #body h3 {
  font-weight: normal; }
/* line 23, ../sass/type.scss */
#body h3 {
  padding-top: 0.75em;
  padding-bottom: 0.5em;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600; }

/*- LET'S GET STARTED!
----------------------------------------------------------------------*/
/* line 13, ../sass/screen.scss */
html, body {
  height: 100%; }

/* line 15, ../sass/screen.scss */
body {
  background-color: #000;
  color: #000;
  font-family: "ff-dagny-web-pro-1","ff-dagny-web-pro-2", Helvetica, Arial, Verdana, sans-serf;
  font-size: 17px;
  line-height: 22px;
  margin: 0;
  padding: 0; }
  /* line 24, ../sass/screen.scss */
  body.page-node-23 {
    background-color: #fff; }
    /* line 27, ../sass/screen.scss */
    body.page-node-23 article.clearfix {
      background: #fff; }
  /* line 34, ../sass/screen.scss */
  body.projectOpen {
    background: #F4F4F4; }
    /* line 36, ../sass/screen.scss */
    body.projectOpen header {
      background: transparent; }

/* line 42, ../sass/screen.scss */
hr {
  height: 1px;
  background: #ccc;
  margin-bottom: 1em;
  border: none; }

/* line 49, ../sass/screen.scss */
abbr {
  cursor: help; }

/* line 51, ../sass/screen.scss */
a {
  color: #000;
  text-decoration: none; }
  /* line 55, ../sass/screen.scss */
  a:hover {
    color: #000; }

/* line 60, ../sass/screen.scss */
em {
  font-style: italic; }

/* line 64, ../sass/screen.scss */
p {
  font-size: 18px;
  margin-bottom: 1.2em;
  color: #545454;
  font-weight: 200;
  line-height: 1.4em;
  font-family: "chaparral-pro-1","chaparral-pro-2", Georgia, Times New Roman, Times, serif; }
  /* line 71, ../sass/screen.scss */
  p a {
    border-bottom: 1px solid #ccc;
    -webkit-transition: border-bottom 0.2s linear;
    -webkit-transition-delay: 0;
    -moz-transition: border-bottom 0.2s linear 0;
    -o-transition: border-bottom 0.2s linear 0;
    transition: border-bottom 0.2s linear 0;
    position: relative; }
    /* line 76, ../sass/screen.scss */
    p a:hover {
      border-bottom: 1px solid #000; }
    /* line 80, ../sass/screen.scss */
    p a:active {
      top: 1px; }
  /* line 85, ../sass/screen.scss */
  p em {
    font-style: italic; }

/*- Nav
----------------------------------------------------------------------*/
/* line 8, ../sass/nav.scss */
header#page {
  background: #000;
  padding-top: 7px; }
  /* line 13, ../sass/nav.scss */
  header#page h1,
  header#page h2 {
    color: #CCC;
    padding: 0 15px 7px;
    float: left;
    font-size: 15px;
    font-weight: 400; }
    /* line 19, ../sass/nav.scss */
    header#page h1 a,
    header#page h2 a {
      color: #fff; }
  /* line 24, ../sass/nav.scss */
  header#page .banner {
    clear: both;
    width: 100%;
    color: #fff;
    text-align: center; }
    /* line 30, ../sass/nav.scss */
    header#page .banner.longRoadBack {
      border-top: 1px solid #333; }
      /* line 33, ../sass/nav.scss */
      header#page .banner.longRoadBack a {
        color: #fff;
        display: block;
        width: 100%;
        background: transparent url("i/long-road-back.jpg") no-repeat center top;
        height: 100px;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden; }

/* line 45, ../sass/nav.scss */
nav {
  position: relative;
  float: right;
  overflow: hidden;
  *zoom: 1; }
  /* line 49, ../sass/nav.scss */
  nav h2 {
    position: absolute;
    top: -9999px; }
  /* line 54, ../sass/nav.scss */
  nav ul {
    display: block;
    text-align: center; }
    /* line 57, ../sass/nav.scss */
    nav ul li {
      position: relative;
      display: inline; }
      /* line 60, ../sass/nav.scss */
      nav ul li a {
        padding: 0 15px 7px;
        display: block;
        position: relative;
        float: left;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 13px;
        color: #999; }
        /* line 71, ../sass/nav.scss */
        nav ul li a:hover {
          color: #fff; }
      /* line 78, ../sass/nav.scss */
      nav ul li a.active,
      nav ul li a.active:hover {
        color: #fff; }
      /* line 83, ../sass/nav.scss */
      nav ul li.rss a {
        text-indent: -9999px;
        width: 10px;
        height: 10px;
        background: transparent url("i/rss.png");
        padding: 0;
        margin: 5px 10px 0 -8px; }
        /* line 90, ../sass/nav.scss */
        nav ul li.rss a:hover {
          background-position: left -10px; }

/* line 100, ../sass/nav.scss */
.page-taxonomy-term nav li.words a {
  color: #fff; }
  /* line 103, ../sass/nav.scss */
  .page-taxonomy-term nav li.words a:hover {
    color: #fff; }

/* line 110, ../sass/nav.scss */
.arrow-down {
  position: absolute;
  margin: 20px 0 0 5px;
  border-top: 5px solid #999; }

/*- CONTENT
----------------------------------------------------------------------*/
/* line 100, ../sass/screen.scss */
article.clearfix {
  padding-top: 50px;
  background: #000; }

/* line 108, ../sass/screen.scss */
article,
header,
footer,
#loading {
  position: relative;
  display: block;
  margin: 0 auto;
  max-width: none; }

/* line 115, ../sass/screen.scss */
.not-front.page-node-23 footer {
  max-width: none; }

/* line 4, ../sass/portfolio.scss */
.node-type-work #headerContent,
.page-node-23 #headerContent {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 960px; }
/* line 13, ../sass/portfolio.scss */
.node-type-work article,
.page-node-23 article {
  overflow: hidden;
  width: 100%;
  margin: 0 auto; }
/* line 19, ../sass/portfolio.scss */
.node-type-work #body,
.page-node-23 #body {
  position: relative;
  width: 100%;
  max-width: 1000px;
  padding: 0;
  z-index: 2;
  margin: 0 auto; }
  /* line 28, ../sass/portfolio.scss */
  .node-type-work #body #lead,
  .page-node-23 #body #lead {
    margin-bottom: 2%; }
    /* line 30, ../sass/portfolio.scss */
    .node-type-work #body #lead .intro,
    .page-node-23 #body #lead .intro {
      position: absolute;
      top: 50px;
      width: 200px;
      left: 750px;
      z-index: 100; }
      /* line 37, ../sass/portfolio.scss */
      .node-type-work #body #lead .intro h1,
      .page-node-23 #body #lead .intro h1 {
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 10px; }
      /* line 44, ../sass/portfolio.scss */
      .node-type-work #body #lead .intro p,
      .page-node-23 #body #lead .intro p {
        line-height: 22px;
        font-size: 16px; }
  /* line 52, ../sass/portfolio.scss */
  .node-type-work #body #words,
  .page-node-23 #body #words {
    width: 35%;
    float: right;
    clear: right; }
    /* line 57, ../sass/portfolio.scss */
    .node-type-work #body #words p,
    .page-node-23 #body #words p {
      line-height: 22px;
      font-size: 16px; }
    /* line 62, ../sass/portfolio.scss */
    .node-type-work #body #words li,
    .page-node-23 #body #words li {
      width: 100%; }
  /* line 67, ../sass/portfolio.scss */
  .node-type-work #body ul,
  .page-node-23 #body ul {
    font-size: 0.8em;
    color: #9A9885;
    margin-bottom: 1em;
    padding-left: 15px; }
    /* line 72, ../sass/portfolio.scss */
    .node-type-work #body ul li,
    .page-node-23 #body ul li {
      margin-bottom: 0.5em;
      color: #9A9885; }
      /* line 76, ../sass/portfolio.scss */
      .node-type-work #body ul li a,
      .page-node-23 #body ul li a {
        color: #9A9885; }
        /* line 79, ../sass/portfolio.scss */
        .node-type-work #body ul li a:hover,
        .page-node-23 #body ul li a:hover {
          color: #616054; }
  /* line 87, ../sass/portfolio.scss */
  .node-type-work #body #otherImages,
  .page-node-23 #body #otherImages {
    float: left;
    width: 62%;
    margin-right: 2%; }
    /* line 91, ../sass/portfolio.scss */
    .node-type-work #body #otherImages img,
    .page-node-23 #body #otherImages img {
      width: 100%;
      margin-bottom: 2%;
      display: block; }
/* line 102, ../sass/portfolio.scss */
.node-type-work .block h1,
.page-node-23 .block h1 {
  border-bottom: 1px solid black;
  font-size: 0.9em;
  letter-spacing: -0.05em;
  padding-bottom: 5px;
  margin-bottom: 10px; }

/*White backgrounds on the lead paragraphs for pieces 
that have a dark background */
/* line 120, ../sass/portfolio.scss */
#body.powercenterwebsite #lead .intro,
#body.gabbardfarms #lead .intro,
#body.versionone #lead .intro,
#body.springcreekranch #lead .intro {
  background: rgba(255, 255, 255, 0.9);
  left: 800px;
  width: 150px;
  padding: 10px; }

/* line 128, ../sass/portfolio.scss */
#body.gabbardfarms #lead .intro,
#body.versionone #lead .intro {
  width: 175px;
  left: 775px; }

/* line 133, ../sass/portfolio.scss */
#body.springcreekranch #lead .intro {
  left: 740px;
  width: 200px; }

/*Black backgrounds on the lead paragraphs for pieces 
that have a light background */
/* line 142, ../sass/portfolio.scss */
#body.cottonusasupplychain #lead .intro,
#body.myportfoliowebapp #lead .intro,
#body.eticketsapp #lead .intro {
  background: rgba(0, 0, 0, 0.9);
  left: 688px;
  width: 270px;
  top: 200px;
  padding: 10px;
  color: #fff; }

/* line 152, ../sass/portfolio.scss */
#body.myportfoliowebapp #lead .intro,
#body.eticketsapp #lead .intro {
  width: 200px;
  left: 730px; }

/* line 159, ../sass/portfolio.scss */
.block .cottonusasupplychain h1,
.block .myportfoliowebapp h1,
.block .eticketsapp h1 {
  border-bottom: 1px solid #fff; }

/* line 165, ../sass/portfolio.scss */
#body.cottonusasupplychain #lead .intro p,
#body.myportfoliowebapp #lead .intro p,
#body.eticketsapp #lead .intro p {
  color: #fff;
  line-height: 1.5em; }

/* line 174, ../sass/portfolio.scss */
#bodyWrap .header {
  display: none; }

/* line 179, ../sass/portfolio.scss */
ul.worklist {
  width: 102%;
  margin-right: -1%; }
  /* line 183, ../sass/portfolio.scss */
  ul.worklist .nid,
  ul.worklist .path {
    display: none; }
  /* line 186, ../sass/portfolio.scss */
  ul.worklist li {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    margin: 0 -3px 0 -2px; }
    /* line 192, ../sass/portfolio.scss */
    ul.worklist li.open {
      margin-bottom: 15px; }
      /* line 195, ../sass/portfolio.scss */
      ul.worklist li.open #bodyWrap {
        background: #fff;
        /*If you add to the padding-top value, remember to add the same amount to the +height in the 
        sizeProjectCanvas() function in functions.js */
        padding: 60px 0 40px;
        position: absolute;
        width: 98%;
        left: 1%;
        border: 1px solid #ccc;
        margin-top: -1px;
        -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 6px 0;
        -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 6px 0;
        box-shadow: rgba(0, 0, 0, 0.1) 0 0 6px 0; }
        /* line 207, ../sass/portfolio.scss */
        ul.worklist li.open #bodyWrap a {
          background: transparent;
          width: auto;
          border: none;
          float: none; }
        /* line 213, ../sass/portfolio.scss */
        ul.worklist li.open #bodyWrap .header {
          display: block;
          border-bottom: 1px solid #e6e6e6;
          *zoom: 1;
          width: 100%;
          position: absolute;
          background: #fff;
          top: 0; }
          /* line 22, ../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
          ul.worklist li.open #bodyWrap .header:after {
            content: "\0020";
            display: block;
            height: 0;
            clear: both;
            overflow: hidden;
            visibility: hidden; }
          /* line 222, ../sass/portfolio.scss */
          ul.worklist li.open #bodyWrap .header.floatingHeader {
            position: fixed;
            width: 98%;
            left: 1%;
            border-left: 1px solid #ccc;
            z-index: 9999; }
          /* line 232, ../sass/portfolio.scss */
          ul.worklist li.open #bodyWrap .header .title,
          ul.worklist li.open #bodyWrap .header .controls {
            padding: 10px;
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 3px; }
          /* line 239, ../sass/portfolio.scss */
          ul.worklist li.open #bodyWrap .header .controls {
            position: relative;
            float: right; }
            /* line 242, ../sass/portfolio.scss */
            ul.worklist li.open #bodyWrap .header .controls .closeProject {
              font-size: 40px;
              position: absolute;
              right: 10px;
              color: #a1a1a1; }
            /* line 249, ../sass/portfolio.scss */
            ul.worklist li.open #bodyWrap .header .controls .closeProject:hover {
              color: #545454; }
          /* line 255, ../sass/portfolio.scss */
          ul.worklist li.open #bodyWrap .header .title {
            color: #545454;
            position: relative;
            float: left;
            width: 50%; }
      /* line 263, ../sass/portfolio.scss */
      ul.worklist li.open .image {
        background: transparent url(i/project-arrow.png) no-repeat center bottom;
        position: relative;
        z-index: 1000; }
      /* line 269, ../sass/portfolio.scss */
      ul.worklist li.open img {
        opacity: 1 !important; }
    /* line 274, ../sass/portfolio.scss */
    ul.worklist li h2 {
      text-align: left;
      padding-top: 5px;
      clear: left;
      color: black;
      border-left: 1px solid #545454;
      padding-left: 14px;
      margin-bottom: 5px;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 600;
      letter-spacing: 1px; }
    /* line 288, ../sass/portfolio.scss */
    ul.worklist li .blurb {
      font-size: 13px;
      padding-left: 15px;
      width: 80%; }
      /* line 292, ../sass/portfolio.scss */
      ul.worklist li .blurb p {
        line-height: 1.5em;
        color: #6e6e6e;
        font-size: 14px;
        font-weight: 400; }
        /* line 298, ../sass/portfolio.scss */
        ul.worklist li .blurb p strong {
          color: #000;
          font-weight: normal;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-family: "ff-dagny-web-pro-1","ff-dagny-web-pro-2", Helvetica, Arial, Verdana, sans-serf; }
        /* line 306, ../sass/portfolio.scss */
        ul.worklist li .blurb p a {
          display: inline;
          background: transparent;
          border-top: none;
          max-height: none;
          float: none; }
    /* line 317, ../sass/portfolio.scss */
    ul.worklist li .image {
      padding-bottom: 40px; }
    /* line 321, ../sass/portfolio.scss */
    ul.worklist li a {
      float: left;
      width: 100%;
      max-height: 300px;
      overflow: hidden;
      background: black;
      border-top: 5px solid black; }
    /* line 330, ../sass/portfolio.scss */
    ul.worklist li img {
      width: 100%; }

/* line 126, ../sass/screen.scss */
ul.pager li.pager-current {
  color: #fff;
  border-bottom: 2px solid #fff; }
/* line 131, ../sass/screen.scss */
ul.pager li a {
  color: #ccc;
  -webkit-transition: all 0.2s linear;
  -webkit-transition-delay: 0;
  -moz-transition: all 0.2s linear 0;
  -o-transition: all 0.2s linear 0;
  transition: all 0.2s linear 0; }
  /* line 135, ../sass/screen.scss */
  ul.pager li a:hover {
    color: #fff; }

/*- FOOTER
----------------------------------------------------------------------*/
/* line 147, ../sass/screen.scss */
footer {
  padding: 30px 0;
  font-size: 0.7em;
  color: #999;
  overflow: hidden;
  width: 100%;
  max-width: 1000px;
  background: transparent; }
  /* line 156, ../sass/screen.scss */
  footer .content {
    float: left; }
  /* line 160, ../sass/screen.scss */
  footer a {
    color: black;
    border-bottom: 1px solid black; }
    /* line 164, ../sass/screen.scss */
    footer a:hover {
      color: black;
      border-bottom: 1px solid black; }

/* line 171, ../sass/screen.scss */
.projectOpen footer {
  color: #000; }
  /* line 173, ../sass/screen.scss */
  .projectOpen footer a {
    color: #000; }

/* line 179, ../sass/screen.scss */
.front footer .content,
.page-node-23 footer .content {
  margin: 0px auto;
  text-align: center;
  float: none; }

/*- About PJ Page
----------------------------------------------------------------------*/
/* line 189, ../sass/screen.scss */
img.aboutPJ {
  position: absolute;
  z-index: 0;
  top: -50px; }

/* line 195, ../sass/screen.scss */
.aboutcontent {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  width: 400px;
  left: 500px;
  top: 520px;
  padding: 12px;
  color: white; }
  /* line 204, ../sass/screen.scss */
  .aboutcontent p {
    color: #fff; }
    /* line 207, ../sass/screen.scss */
    .aboutcontent p a {
      color: #999;
      border-bottom: 1px solid #999;
      -webkit-transition: color 0.2s linear;
      -webkit-transition-delay: 0;
      -moz-transition: color 0.2s linear 0;
      -o-transition: color 0.2s linear 0;
      transition: color 0.2s linear 0; }
      /* line 212, ../sass/screen.scss */
      .aboutcontent p a:hover {
        color: #fff;
        border-bottom: 1px solid #fff; }

/* line 222, ../sass/screen.scss */
.page-node-6 h1 {
  display: none; }
/* line 225, ../sass/screen.scss */
.page-node-6 #body {
  min-height: 1000px;
  width: 1000px;
  position: relative;
  margin: 0 auto; }

/* line 235, ../sass/screen.scss */
#about p {
  position: relative;
  z-index: 10; }
/* line 242, ../sass/screen.scss */
#about h2,
#about h3,
#about h4 {
  position: relative;
  z-index: 10; }
/* line 247, ../sass/screen.scss */
#about h2 {
  font-size: 42px;
  line-height: 1em;
  font-weight: 600;
  top: -56px;
  left: 20px;
  color: #000;
  color: rgba(0, 0, 0, 0.75); }
/* line 257, ../sass/screen.scss */
#about h3 {
  font-size: 160px;
  font-weight: 600;
  color: #fff;
  color: white;
  text-shadow: -1px 1px 3px rgba(0, 0, 0, 0.8);
  top: -47px;
  left: 29px;
  line-height: 150px;
  padding-top: 0; }
/* line 269, ../sass/screen.scss */
#about h4 {
  font-size: 24px;
  width: 430px;
  line-height: 1.3em;
  top: -116px;
  left: 40px;
  color: rgba(0, 0, 0, 0.9);
  text-shadow: -1px 1px 1px rgba(255, 255, 255, 0.5); }

/*- CMS OVerrides
----------------------------------------------------------------------*/
/* line 284, ../sass/screen.scss */
ul.tabs {
  position: relative;
  z-index: 100; }

/*- Blog
----------------------------------------------------------------------*/
/* line 49, ../sass/blog.scss */
.node-type-article footer .content {
  width: 1000px; }

/* line 53, ../sass/blog.scss */
.post {
  position: relative; }
  /* line 56, ../sass/blog.scss */
  .post h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 20px 10px; }
  /* line 66, ../sass/blog.scss */
  .post .ad {
    position: relative;
    margin: 40px auto 0; }
    /* line 70, ../sass/blog.scss */
    .post .ad.postfooter {
      width: 468px; }

/* line 78, ../sass/blog.scss */
.node-type-article article .articleWrap.fillpost {
  margin-top: -50px; }

/* line 84, ../sass/blog.scss */
article .content {
  position: relative; }
/* line 90, ../sass/blog.scss */
article .post.first .articleWrap.fillpost {
  margin-top: -50px; }
/* line 96, ../sass/blog.scss */
article#blogRoll {
  max-width: none; }
/* line 100, ../sass/blog.scss */
article .articleWrap {
  border-bottom: 1px solid #ccc;
  padding-bottom: 40px;
  margin-bottom: 40px;
  overflow: hidden;
  width: 85%;
  background: #fff;
  float: left;
  position: relative; }
  /* line 110, ../sass/blog.scss */
  article .articleWrap.post-35 {
    border-bottom: none;
    padding-bottom: 0; }
  /* line 116, ../sass/blog.scss */
  article .articleWrap .fill img {
    position: absolute;
    z-index: 0;
    width: 100%;
    min-width: 1000px;
    top: 0; }
  /* line 126, ../sass/blog.scss */
  article .articleWrap article.post {
    max-width: 900px;
    z-index: 500;
    padding: 30px 20px 20px; }
    /* line 131, ../sass/blog.scss */
    article .articleWrap article.post p {
      margin-left: 17.12121212%; }
    /* line 136, ../sass/blog.scss */
    article .articleWrap article.post img {
      -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px 0px;
      -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px 0px;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px 0px;
      width: 100%;
      margin-bottom: 1em;
      display: block; }
      /* line 142, ../sass/blog.scss */
      article .articleWrap article.post img.noShadow {
        -webkit-box-shadow: rgba(0, 0, 0, 0) 0px 1px 5px 0px;
        -moz-box-shadow: rgba(0, 0, 0, 0) 0px 1px 5px 0px;
        box-shadow: rgba(0, 0, 0, 0) 0px 1px 5px 0px; }
    /* line 148, ../sass/blog.scss */
    article .articleWrap article.post header {
      margin: 0; }
      /* line 151, ../sass/blog.scss */
      article .articleWrap article.post header h1,
      article .articleWrap article.post header h2 {
        text-align: left;
        float: none;
        display: block;
        font-size: 60px;
        font-weight: 600;
        color: #000;
        line-height: 1.2em;
        margin-bottom: 20px; }
        /* line 161, ../sass/blog.scss */
        article .articleWrap article.post header h1 a,
        article .articleWrap article.post header h2 a {
          float: none; }
          /* line 163, ../sass/blog.scss */
          article .articleWrap article.post header h1 a:hover,
          article .articleWrap article.post header h2 a:hover {
            border-bottom: none; }
    /* line 170, ../sass/blog.scss */
    article .articleWrap article.post ul {
      list-style: outside;
      margin-bottom: 1.2em; }
      /* line 174, ../sass/blog.scss */
      article .articleWrap article.post ul li {
        margin-bottom: 5px; }
    /* line 179, ../sass/blog.scss */
    article .articleWrap article.post aside {
      width: 15.1010101%;
      text-align: left;
      padding: 5px 0 0;
      float: left;
      font-size: 11px;
      line-height: 15px;
      text-transform: uppercase;
      font-weight: bold;
      color: #545454; }
      /* line 192, ../sass/blog.scss */
      article .articleWrap article.post aside dl dt {
        border-top: 2px solid #ccc;
        font-size: 10px;
        padding-top: 3px;
        color: #b0b0b0;
        text-transform: uppercase;
        font-weight: bold; }
      /* line 196, ../sass/blog.scss */
      article .articleWrap article.post aside dl dd {
        margin-bottom: 5px; }
      /* line 205, ../sass/blog.scss */
      article .articleWrap article.post aside .tags div {
        display: inline; }
      /* line 210, ../sass/blog.scss */
      article .articleWrap article.post aside .tags a {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px; }
        /* line 213, ../sass/blog.scss */
        article .articleWrap article.post aside .tags a:hover {
          color: #000;
          text-decoration: underline; }
    /* line 223, ../sass/blog.scss */
    article .articleWrap article.post .firstParagraph p {
      font-size: 24px;
      line-height: 32px;
      color: #000; }
    /* line 229, ../sass/blog.scss */
    article .articleWrap article.post .firstParagraph span.code {
      font-size: 18px;
      padding-left: 5px;
      padding-right: 5px; }
    /* line 235, ../sass/blog.scss */
    article .articleWrap article.post .firstParagraph img {
      display: block;
      margin: 0 auto;
      width: 100%; }
    /* line 244, ../sass/blog.scss */
    article .articleWrap article.post blockquote {
      background: #ECECEC;
      padding: 15px 15px 2px 15px; }
    /* line 249, ../sass/blog.scss */
    article .articleWrap article.post blockquote:after {
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-top-color: #ececec;
      border-width: 10px;
      left: 50%;
      margin-left: -10px; }
    /* line 262, ../sass/blog.scss */
    article .articleWrap article.post p.cite {
      padding-top: 15px;
      text-align: center;
      font-family: "ff-dagny-web-pro-1","ff-dagny-web-pro-2", Helvetica, Arial, Verdana, sans-serf;
      font-size: 12px;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-weight: 600; }

/* line 279, ../sass/blog.scss */
a.showSidebar {
  display: none; }
  /* line 282, ../sass/blog.scss */
  a.showSidebar .arrow-left {
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid white; }

/* line 290, ../sass/blog.scss */
section.sidebar,
a.showSidebar {
  float: right;
  *zoom: 1;
  width: 15%;
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 50px;
  overflow: hidden; }
  /* line 22, ../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  section.sidebar:after,
  a.showSidebar:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden; }
  /* line 301, ../sass/blog.scss */
  section.sidebar .group,
  a.showSidebar .group {
    padding-left: 20px;
    color: #000;
    font-size: 13px;
    margin-bottom: 25px; }
    /* line 307, ../sass/blog.scss */
    section.sidebar .group img,
    a.showSidebar .group img {
      display: block;
      margin: 0 auto; }
    /* line 312, ../sass/blog.scss */
    section.sidebar .group p,
    a.showSidebar .group p {
      font-family: "ff-dagny-web-pro-1","ff-dagny-web-pro-2", Helvetica, Arial, Verdana, sans-serf;
      font-size: 13px;
      color: #000;
      font-weight: normal; }
      /* line 318, ../sass/blog.scss */
      section.sidebar .group p a,
      a.showSidebar .group p a {
        border-bottom: none; }
    /* line 323, ../sass/blog.scss */
    section.sidebar .group h3,
    a.showSidebar .group h3 {
      border-top: 2px solid #ccc;
      font-size: 10px;
      padding-top: 3px;
      color: #b0b0b0;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 0px;
      letter-spacing: 1px;
      color: #878787; }
    /* line 330, ../sass/blog.scss */
    section.sidebar .group a,
    a.showSidebar .group a {
      color: #ccc;
      -webkit-transition: all 0.2s linear;
      -webkit-transition-delay: 0;
      -moz-transition: all 0.2s linear 0;
      -o-transition: all 0.2s linear 0;
      transition: all 0.2s linear 0; }
      /* line 333, ../sass/blog.scss */
      section.sidebar .group a:hover,
      a.showSidebar .group a:hover {
        color: #fff; }
  /* line 341, ../sass/blog.scss */
  section.sidebar .pager,
  a.showSidebar .pager {
    top: 0; }
    /* line 345, ../sass/blog.scss */
    section.sidebar .pager .next,
    section.sidebar .pager .prev,
    a.showSidebar .pager .next,
    a.showSidebar .pager .prev {
      position: relative; }
      /* line 348, ../sass/blog.scss */
      section.sidebar .pager .next a,
      section.sidebar .pager .prev a,
      a.showSidebar .pager .next a,
      a.showSidebar .pager .prev a {
        color: #ccc;
        -webkit-transition: all 0.2s linear;
        -webkit-transition-delay: 0;
        -moz-transition: all 0.2s linear 0;
        -o-transition: all 0.2s linear 0;
        transition: all 0.2s linear 0;
        border-bottom: 1px solid #FFF;
        font-size: 15px;
        line-height: 18px; }
        /* line 354, ../sass/blog.scss */
        section.sidebar .pager .next a:hover,
        section.sidebar .pager .prev a:hover,
        a.showSidebar .pager .next a:hover,
        a.showSidebar .pager .prev a:hover {
          color: #fff;
          border-bottom: 1px solid #000; }

/* line 365, ../sass/blog.scss */
article .gist {
  font-size: 14px; }
  /* line 368, ../sass/blog.scss */
  article .gist pre {
    white-space: pre; }
  /* line 373, ../sass/blog.scss */
  article .gist .gist-file .gist-meta {
    font-size: 11px; }

/* line 380, ../sass/blog.scss */
span.code {
  font-family: 'Bitstream Vera Sans Mono', 'Courier', monospace;
  font-size: 15px;
  color: #000;
  font-weight: bold; }

/* Custom post styles */
/*
Posts with big background images, ie "Fillposts"
4th of July, Disney World pic */
/* line 395, ../sass/blog.scss */
article.post.post-35,
.fillpost article {
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #fff;
  padding: 20px;
  margin-top: 200px; }

/* line 404, ../sass/blog.scss */
article .articleWrap.fillpost p {
  color: #000; }
/* line 408, ../sass/blog.scss */
article .articleWrap.fillpost .pager {
  clear: both;
  background: rgba(255, 255, 255, 0.7);
  padding: 20px; }

/*Posts that float the article left and the pagers right */
/* line 420, ../sass/blog.scss */
article .articleWrap.left {
  *zoom: 1; }
  /* line 22, ../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  article .articleWrap.left:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden; }

/* line 435, ../sass/blog.scss */
article .articleWrap.post-44 {
  background: url("i/tan-noise-fill.jpg"); }
  /* line 437, ../sass/blog.scss */
  article .articleWrap.post-44 article.post {
    background: rgba(255, 255, 255, 0.85); }
/* line 443, ../sass/blog.scss */
article .articleWrap.post-57 {
  background: #000;
  margin-top: -50px; }
  /* line 449, ../sass/blog.scss */
  article .articleWrap.post-57 .pager .next,
  article .articleWrap.post-57 .pager .prev {
    background: transparent; }
  /* line 457, ../sass/blog.scss */
  article .articleWrap.post-57 article.post .firstParagraph p {
    color: #f0f0f0; }
  /* line 463, ../sass/blog.scss */
  article .articleWrap.post-57 p {
    color: #ccc; }
  /* line 466, ../sass/blog.scss */
  article .articleWrap.post-57 a {
    color: #fff; }

/*- Testicular Cancer
----------------------------------------------------------------------*/
/* line 2, ../sass/tc.scss */
article.post-24,
li.post article.post-24 {
  width: 1000px;
  max-width: 1000px;
  margin: 40px auto;
  padding-top: 370px;
  background: transparent url(i/tc.png) center top no-repeat; }
  /* line 8, ../sass/tc.scss */
  article.post-24 p,
  li.post article.post-24 p {
    color: #434343; }
  /* line 13, ../sass/tc.scss */
  article.post-24 p.date,
  li.post article.post-24 p.date {
    font-family: "ff-dagny-web-pro-1","ff-dagny-web-pro-2", Helvetica, Arial, Verdana, sans-serf;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 50px; }
  /* line 24, ../sass/tc.scss */
  article.post-24 h1,
  article.post-24 h2,
  article.post-24 h3,
  li.post article.post-24 h1,
  li.post article.post-24 h2,
  li.post article.post-24 h3 {
    text-align: center; }
  /* line 29, ../sass/tc.scss */
  article.post-24 h3,
  li.post article.post-24 h3 {
    padding: 30px 0;
    font-size: 24px; }
  /* line 34, ../sass/tc.scss */
  article.post-24 h1,
  li.post article.post-24 h1 {
    font-size: 80px;
    line-height: 90px;
    text-transform: uppercase;
    letter-spacing: 7px; }
  /* line 41, ../sass/tc.scss */
  article.post-24 #help,
  li.post article.post-24 #help {
    overflow: hidden;
    display: block;
    margin-bottom: 40px; }
    /* line 46, ../sass/tc.scss */
    article.post-24 #help li,
    li.post article.post-24 #help li {
      display: inline;
      width: 50%;
      float: left; }
      /* line 51, ../sass/tc.scss */
      article.post-24 #help li h2,
      li.post article.post-24 #help li h2 {
        margin: 20px auto;
        background: transparent url(i/ball.png) top center no-repeat;
        height: 60px;
        padding-top: 40px; }
      /* line 58, ../sass/tc.scss */
      article.post-24 #help li p,
      li.post article.post-24 #help li p {
        padding: 0 50px;
        clear: both; }
  /* line 66, ../sass/tc.scss */
  article.post-24 a.donate,
  li.post article.post-24 a.donate {
    width: 100%;
    display: block;
    float: left;
    text-align: center;
    border-bottom: none;
    background: #ffc13c;
    border: 1px solid #db9c13;
    padding: 10px 0;
    border-radius: 5px;
    font-family: "ff-dagny-web-pro-1","ff-dagny-web-pro-2", Helvetica, Arial, Verdana, sans-serf;
    font-weight: bold; }
  /* line 80, ../sass/tc.scss */
  article.post-24 a.donate:hover,
  li.post article.post-24 a.donate:hover {
    background: #dda326;
    border: 1px solid #b98a23;
    color: #FFF; }

/* line 87, ../sass/tc.scss */
#block-views-cancer-updates-block {
  width: 500px;
  margin: 50px auto 60px;
  float: none; }
  /* line 91, ../sass/tc.scss */
  #block-views-cancer-updates-block h2 {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #a1a1a1;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 3px solid #a1a1a1; }
  /* line 103, ../sass/tc.scss */
  #block-views-cancer-updates-block ul li {
    list-style: none;
    border-bottom: 1px solid #f0f0f0;
    padding: 15px 10px 20px; }
    /* line 110, ../sass/tc.scss */
    #block-views-cancer-updates-block ul li .title a:hover {
      text-decoration: underline; }
    /* line 117, ../sass/tc.scss */
    #block-views-cancer-updates-block ul li .date {
      font-size: 12px;
      text-transform: uppercase;
      color: #545454; }

/*- Store
----------------------------------------------------------------------*/
/* line 4, ../sass/store.scss */
.page-cart .commerce-line-item-views-form table {
  width: 70%;
  float: left; }
  /* line 9, ../sass/store.scss */
  .page-cart .commerce-line-item-views-form table td,
  .page-cart .commerce-line-item-views-form table th {
    padding: 10px; }
  /* line 13, ../sass/store.scss */
  .page-cart .commerce-line-item-views-form table th {
    padding-bottom: 0;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px; }
/* line 22, ../sass/store.scss */
.page-cart .commerce-line-item-views-form .line-item-summary,
.page-cart .commerce-line-item-views-form .form-actions {
  float: right;
  clear: right; }
/* line 27, ../sass/store.scss */
.page-cart .commerce-line-item-views-form .line-item-summary {
  padding: 10px 0 0 10px;
  margin-top: 30px;
  width: 25%; }
  /* line 31, ../sass/store.scss */
  .page-cart .commerce-line-item-views-form .line-item-summary .line-item-total-label {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px; }
  /* line 36, ../sass/store.scss */
  .page-cart .commerce-line-item-views-form .line-item-summary .line-item-total-raw {
    font-size: 24px; }
  /* line 40, ../sass/store.scss */
  .page-cart .commerce-line-item-views-form .line-item-summary .credtCards {
    background: transparent url(i/cc_icons.gif) no-repeat right 10px;
    padding-top: 40px;
    position: absolute;
    top: 150px;
    border-top: 1px solid #e6e6e6; }
    /* line 47, ../sass/store.scss */
    .page-cart .commerce-line-item-views-form .line-item-summary .credtCards p {
      font-size: 11px;
      line-height: 14px;
      font-family: "ff-dagny-web-pro-1","ff-dagny-web-pro-2", Helvetica, Arial, Verdana, sans-serf;
      font-weight: normal; }
/* line 57, ../sass/store.scss */
.page-cart .commerce-line-item-views-form .form-actions {
  margin-top: 0; }
  /* line 61, ../sass/store.scss */
  .page-cart .commerce-line-item-views-form .form-actions #edit-submit,
  .page-cart .commerce-line-item-views-form .form-actions #edit-checkout {
    position: relative; }
  /* line 65, ../sass/store.scss */
  .page-cart .commerce-line-item-views-form .form-actions #edit-submit {
    border: none;
    background: #fff;
    margin-right: 20px;
    font-size: 13px;
    text-decoration: underline;
    color: #878787; }
    /* line 73, ../sass/store.scss */
    .page-cart .commerce-line-item-views-form .form-actions #edit-submit:hover {
      color: #000; }
  /* line 78, ../sass/store.scss */
  .page-cart .commerce-line-item-views-form .form-actions #edit-checkout {
    background: #BE7;
    border: 1px solid #71b517;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #395b0b;
    padding: 10px;
    position: relative; }
    /* line 88, ../sass/store.scss */
    .page-cart .commerce-line-item-views-form .form-actions #edit-checkout:hover {
      background: #a4e84a;
      border: 1px solid #558811;
      color: #1c2d06; }
  /* line 97, ../sass/store.scss */
  .page-cart .commerce-line-item-views-form .form-actions #edit-submit:active,
  .page-cart .commerce-line-item-views-form .form-actions #edit-checkout:active {
    top: 1px; }

/*- Media Queries
----------------------------------------------------------------------*/
/* NEW RULES */
@media screen and (min-width: 240px) and (max-width: 768px) {
  /* line 7, ../sass/mediaqueries.scss */
  ul.worklist li {
    width: 70%; }

  /* line 12, ../sass/mediaqueries.scss */
  article header h1,
  article header h2 {
    position: relative;
    margin-top: 0; } }
@media screen and (min-width: 240px) and (max-width: 320px) {
  /* line 22, ../sass/mediaqueries.scss */
  ul.worklist li {
    width: 50%; } }
@media screen and (min-width: 320px) and (max-width: 930px) {
  /* line 36, ../sass/mediaqueries.scss */
  .front #body #lead .intro,
  .node-type-work #body #lead .intro,
  .page-node-23 #body #lead .intro {
    width: 100%;
    text-align: center;
    position: relative;
    top: 0;
    left: 0; }
  /* line 44, ../sass/mediaqueries.scss */
  .front #body #lead img,
  .node-type-work #body #lead img,
  .page-node-23 #body #lead img {
    width: 120%;
    max-width: 120%; }

  /* line 55, ../sass/mediaqueries.scss */
  header#page h2 {
    width: 96%;
    margin-left: 2%;
    padding: 0 0 7px;
    text-align: center; }
  /* line 62, ../sass/mediaqueries.scss */
  header#page nav {
    float: none;
    width: 100%; }
    /* line 66, ../sass/mediaqueries.scss */
    header#page nav ul {
      width: 100%;
      text-align: center; }
      /* line 70, ../sass/mediaqueries.scss */
      header#page nav ul li {
        position: relative;
        display: inline; }
        /* line 74, ../sass/mediaqueries.scss */
        header#page nav ul li a {
          display: inline-block;
          float: none; } }
@media screen and (min-width: 320px) and (max-width: 600px) {
  /* line 95, ../sass/mediaqueries.scss */
  .front #body #otherImages,
  .node-type-work #body #otherImages,
  .page-node-23 #body #otherImages {
    width: 100%; }
    /* line 97, ../sass/mediaqueries.scss */
    .front #body #otherImages img,
    .node-type-work #body #otherImages img,
    .page-node-23 #body #otherImages img {
      width: 90%;
      margin: 0 auto 10px; }

  /* line 108, ../sass/mediaqueries.scss */
  .node-type-work #body #words,
  .front #body #words,
  .page-node-23 #body #words {
    width: 80%;
    float: left;
    clear: left;
    padding-left: 10%; }

  /* line 116, ../sass/mediaqueries.scss */
  article .articleWrap {
    width: 90%; }

  /* line 121, ../sass/mediaqueries.scss */
  section.sidebar {
    width: 10%;
    display: none; }

  /* line 126, ../sass/mediaqueries.scss */
  a.showSidebar {
    width: 10%;
    display: block; } }
@media screen and (min-width: 240px) and (max-width: 600px) {
  /* line 138, ../sass/mediaqueries.scss */
  article .articleWrap article.post p {
    margin-left: 0; }
  /* line 144, ../sass/mediaqueries.scss */
  article .articleWrap article.post p,
  article .articleWrap article.post ul li {
    font-size: 18px; }
  /* line 148, ../sass/mediaqueries.scss */
  article .articleWrap article.post aside {
    width: 100%;
    font-size: 12px;
    padding: 10px 0;
    text-align: center; }
  /* line 153, ../sass/mediaqueries.scss */
  article .articleWrap article.post header h1, article .articleWrap article.post header h2 {
    font-size: 36px;
    line-height: 42px; }
  /* line 160, ../sass/mediaqueries.scss */
  article .articleWrap article.post .firstParagraph p {
    font-size: 24px;
    line-height: 30px; } }
@media screen and (min-width: 240px) and (max-width: 480px) {
  /* line 177, ../sass/mediaqueries.scss */
  ul.worklist li {
    width: 50%; } }
@media screen and (min-width: 480px) and (max-width: 768px) {
  /* line 190, ../sass/mediaqueries.scss */
  ul.worklist li {
    width: 50%; } }
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 199, ../sass/mediaqueries.scss */
  header.clearfix h1 {
    width: 50%; }

  /* line 205, ../sass/mediaqueries.scss */
  .body p {
    margin-right: 30%;
    margin-left: 20px; }
  /* line 210, ../sass/mediaqueries.scss */
  .body h3 {
    margin-left: 20px; } }
@media screen and (min-width: 1145px) and (max-width: 1700px) {
  /* line 218, ../sass/mediaqueries.scss */
  ul.worklist li {
    width: 20%; } }
@media screen and (min-width: 1700px) {
  /* line 224, ../sass/mediaqueries.scss */
  ul.worklist li {
    width: 10%; } }
@media screen and (max-width: 1024px) {
  /* line 232, ../sass/mediaqueries.scss */
  article .articleWrap.left article.post {
    margin-left: auto;
    margin-right: auto;
    float: none; } }
@media screen and (min-width: 1024px) {
  /* line 247, ../sass/mediaqueries.scss */
  article .articleWrap article.post img.large,
  article .articleWrap article.post .firstParagraph img.large {
    max-width: 1000px;
    margin-left: -200px; } }
