.page-cart .commerce-line-item-views-form table {
  width: 70%;
  float: left;
}
.page-cart .commerce-line-item-views-form table td,
.page-cart .commerce-line-item-views-form table th {
  padding: 10px;
}
.page-cart .commerce-line-item-views-form table th {
  padding-bottom: 0;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.page-cart .commerce-line-item-views-form .line-item-summary,
.page-cart .commerce-line-item-views-form .form-actions {
  float: right;
  clear: right;
}
.page-cart .commerce-line-item-views-form .line-item-summary .line-item-total-label {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.page-cart .commerce-line-item-views-form .line-item-summary .line-item-total-raw {
  font-size: 24px;
}
.page-cart .commerce-line-item-views-form .form-actions {
  margin-top: 0;
}
