/*- TYPE
----------------------------------------------------------------------*/
h1,
h2,
h3,
nav ul li a {
  font-family: "ff-dagny-web-pro-1", "ff-dagny-web-pro-2", Helvetica, Arial, Verdana, sans-serf;
}
#body h1,
h2,
h3 {
  font-weight: normal;
}
header h1,
header h2 {
  float: left;
  padding-top: 10px;
  font-weight: 200;
}
header h2 {
  color: #999;
}
header h2 a {
  -webkit-transition: border-bottom 0.3s linear;
  -moz-transition: border-bottom 0.3s linear;
  -o-transition: border-bottom 0.3s linear;
  transition: border-bottom 0.3s linear;
  display: block;
  border-bottom: 1px solid #fff;
  position: relative;
  float: left;
}
header h2 a:hover {
  border-bottom: 1px solid #000;
}
header h2 a:active {
  top: 2px;
}
#body h3 {
  padding-top: 0.75em;
  padding-bottom: 0.5em;
  font-size: 0.9em;
}
