@mixin aside-mobile() {
	width: 100%; 
	font-size: 12px; 
	padding: 10px 0; 
	text-align: center; 
}

@mixin grayLinkOnBlack() {
	color: #949494; 
	@include single-transition(all,0.2s,linear,0);	
}

@mixin tertiaryHeader() {
	border-top: 2px solid #ccc;
	font-size: 10px; 
	padding-top: 3px;
	color: #626262;
	text-transform: uppercase; 
	font-weight: bold; 
}

@mixin column($col:1) {
	@if $col==1 {
		width: 15.1010101%;	
	} @else if $col==2 {
		width: 60.6060606%;
		margin-left: 17.12121212%;		
	} @else if $col==3 {
		width: 20.2020202%;
	} @else if $col==1-2 {
		width: 77.72727272%;
	}
	
}

@mixin inner-column($col:1) {
	@if $col==1 {
		width: 15.1010101%;	
	} @else if $col==2 {
		margin-left: 17.12121212%;		
	} @else if $col==3 {
		margin-left: 79.74747474%;	
	} @else if $col==1-2 {
		width: 77.72727272%;
	}	
}


.node-type-article footer .content { 
	margin-right: 300px; 
	padding-left: 20px;
}

.post {
	position: relative; 
	
	h2 {
		font-size: 18px;
		letter-spacing: 2px; 
		font-weight: bold; 
		margin-bottom: 0.5em;
		text-transform: uppercase; 
		border-bottom: 1px solid #ccc; 
		border-top: 1px solid #ccc; 
		padding: 20px 10px;
	}
	
	.ad {
		position: relative; 
		margin: 40px auto 0; 
		
		&.postfooter {
			width: 468px;
			padding-top: 10px; 
			border-top: 1px solid #d0d0d0;
		}
	}
	
}


.node-type-article article .articleWrap.fillpost {
	margin-top: -50px; 	
}

article {
	
	.content {
		position: relative; 
	}

	.post.first {
		.articleWrap {
			&.fillpost {
				margin-top: -50px; 
			}
		}
	}

	&#blogRoll {
		max-width: 960px; 
	}	
	
	.articleWrap {
		padding-bottom: 10px; 
		margin-bottom: 10px; 
		overflow: hidden; 
		background: #fff; 
		margin-right: 200px;
		position: relative; 
		
		&.post-35 {
			border-bottom: none; 
			padding-bottom: 0; 
		}			
		
		.fill {
		
			img {
				position: absolute; 
				z-index: 0; 
				width: 100%;
				min-width: 1000px; 
				top: 0; 
			}
		}	

		
		article.post {
			max-width: 900px; 
			z-index: 500; 
			padding: 0 20px 20px;
					
			p, 
			.gist {
				@include inner-column(2);
				
				img {
					width: auto; 
					margin: 0 auto; 
				}
			}

			img {
				@include box-shadow(rgba(#000,0.2) 0px 1px 5px 0px);
				width: 100%;
				margin-bottom: 1em;
				display: block; 
				
				&.noShadow {
					@include box-shadow(rgba(#000,0) 0px 1px 5px 0px);
				}
			
			}
			
			header {
				margin: 0; 
				h1,
				h2 {
					text-align: left; 
					float: none; 
					display: block; 
					font-size: 42px; 
					font-weight: 600;
					color: #000; 
					line-height: 1.2em;  
					margin-bottom: 20px;
					padding-top: 1px;
					border-top: 2px solid lighten($blue,10%); 
					a {
						float: none; 
						&:hover {
							border-bottom: none; 
						}
					}
				}
			}
			
			ul {
				list-style: outside; 
				margin-bottom: 1.2em; 
				
				li {
					margin-bottom: 5px; 
				}
			}
			
			aside {
				@include column(); 
				text-align: left; 
				padding: 5px 0 0; 
				float: left; 
				font-size: 11px;
				line-height: 15px; 
				text-transform: uppercase; 
				font-weight: bold; 
				color: $gray; 
				
				
				dl {
					dt {
						@include tertiaryHeader();
						border-top-color: #ccc;
 
					}
					
					dd {
						margin-bottom: 5px;
					}
					
					
				}
				
				
				.tags {
					div {
						display: inline; 
					}
				
					
					a {										
						&:hover {
						}
						
					}
				} //close .tags
			} //close aside
			
			.firstParagraph {
				p {
					font-size: 24px; 
					line-height: 32px; 
					color: #000; 	
				}
				
				span.code {
					font-size: 18px; 
					padding-left: 5px;
					padding-right: 5px;
				}
				
				img {
					display: block; 
					margin: 0 auto; 
					width: 100%;
				}
				
			} //close firstParagraph
		
		
			blockquote {
				background: #ECECEC;
				padding: 15px 15px 2px 15px;		
			}
			
			blockquote:after {
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-top-color: #ececec;
				border-width: 10px;
				left: 50%;
				margin-left: -10px;				
			}

			p.cite {
				padding-top: 15px; 
				text-align: center; 
				@include font(); 
				font-size: 12px; 
				letter-spacing: 1px; 
				text-transform: uppercase; 
				font-weight: 600; 
			}
			
			
		} // end article.post
	
	
	} // end .articleWrap
} //end article

a.showSidebar {
	display: none; 
	
	.arrow-left {
		margin: 0 auto; 
		@include cssarrow(left,10px,#fff);
	}
	
}

section.sidebar, 
a.showSidebar {
	float: right; 
	@include legacy-pie-clearfix;
	width: 200px; 
	position: absolute;
	right: 0;
	top: 0; 
	padding-top: 50px;
	overflow: hidden; 
	
	
	.group {
		padding-left: 20px;
		color: #000; 
		font-size: 13px; 
		margin-bottom: 25px;
		
		img {
			display: block; 
			margin: 0 auto;  
		}
		
		p {
			@include font(); 
			font-size: 13px; 
			color: #000; 
			font-weight: normal; 
			
			a {
				border-bottom: none; 
			}
		}
		
		h3 {
			@include tertiaryHeader(); 
			margin-bottom: 0px;
			letter-spacing: 1px;
		}
		
		a {
			@include grayLinkOnBlack();
			
			&:hover {
				color: lighten($blue,20%); 
			}
			
		}
		
	}
	
	.pager {
		top: 0; 
		
		.next, 
		.prev {
			position: relative; 
	
			a {
				@include grayLinkOnBlack();
				border-bottom: 1px solid #FFF;
				font-size: 15px; 
				line-height: 18px; 
				
				&:hover {
					color: #fff; 
					border-bottom: 1px solid #000; 							
				}					
			}
		}
					
	}	
}

article {
	.gist {
		font-size: 14px; 
		
		pre {
			white-space: pre; 
		}
		
		.gist-file {
			
			.gist-data {
				overflow: hidden; 
				word-break: break-word;
			}
		
			.gist-meta {
				font-size: 11px; 
			}
		}
	}
}

span.code {
	@include font(mono);  
	font-size: 15px; 
	color: #000; 
	font-weight: bold; 
}


/* Custom post styles */

/*
Posts with big background images, ie "Fillposts"
4th of July, Disney World pic */

article.post.post-35, 
.fillpost article {
	background: rgba(#fff,0.7);
	border: 1px solid #fff; 
	padding: 20px; 
	margin-top: 200px;	
}

article {
	.articleWrap.fillpost {
		p {
			color: #000; 
		}
		
		.pager {
			clear: both; 
			background: rgba(#fff,0.7);
			padding: 20px; 			
		}

	}
}

/*Posts that float the article left and the pagers right */

article {
	.articleWrap.left {
		@include legacy-pie-clearfix; 
		
		article.post {
			//margin-left: 100px; 
			//float: left; 
		}
		
	}
}



article {
	//Pathology report excerpt post 
	.articleWrap.post-44 {
		background: url('i/tan-noise-fill.jpg'); 
		article.post {
			background: rgba(#fff,0.85);			
		}				
	}

	//Long Road Back release	
	.articleWrap.post-57 {
		background: #000; 
		margin-top: -50px; 
		
		.pager {
			.next, 
			.prev {
				background: transparent; 
				
			}
		}
		
		article.post {
			.firstParagraph {
				p {
					color: #f0f0f0; 
				}
			}
		}
		
		p {
			color: #ccc; 
		}
		a {
			color: #fff; 
		}
	}
}

#comments {
	h2 {
		background: $blue; 
		color: #fff; 
		padding: 10px;
		border-top: 2px solid darken($blue,10%);
	}

	label {
		font-size: 13px; 
		text-transform: uppercase; 
		color: $blue; 
	}
	
	.filter-help {
		display: none; 
	}
	
	.filter-guidelines {
		padding-left: 0; 
		
		.tips {
			font-size: 11px;
			line-height: 13px;
			
			li {
				margin-bottom: 2px;
			}
		}
	}
	
	#edit-comment-body-und-0-format {
		padding: 10px 0 0;
	}
	
	.form-actions {
		input.form-submit {
			background: $blue; 
			padding: 10px; 
			color: #fff; 
			font-size: 13px;
			font-weight: bold; 
			@include border-radius(5px); 
			@include single-transition(all,0.1s,linear,0);
			border: none; 
			cursor: pointer; 
			
			&:hover {
				background: lighten($blue,20%);
			}
			
			
		}
	}
}

article .articleWrap article.post .comment {
	border-bottom: 1px solid #dfdfdf; 
	padding-bottom: 10px;
	padding-top: 10px;
	
	.submitted {
		font-size: 12px;
	}
	
	p {
		margin-left: 0;
	}
}

body div.messages {
	margin-right: 200px;
	margin-bottom: 20px;
}
