@mixin cssarrow($direction:left,$size:5px,$color:#fff) {
	width: 0; 
	height: 0; 
	@if $direction==left {
		border-top: $size solid transparent;
		border-bottom: $size solid transparent; 
		border-right:$size solid $color; 
	} @else if $direction==down {
		border-left: $size  solid transparent;
		border-right: $size  solid transparent;
		border-top: $size  solid $color;		
	}	
}

$gray: #545454; 
$black: #000; 

@mixin w-h($width, $height) {
	width: $width; 
	height: $height; 	
}

@mixin relativefloat($direction:none) {
	position: relative; 
	float: $direction; 
}

@mixin hideText() {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
