@media (min-width: 768px) and (max-width: 979px)
  header#page
        
    nav
      float: none 
      
      ul 
        margin: 0 
        
        li 
          display: block 
          float: none 
          width: 100% 
          
          a 
            display: block 
            text-align: left 
            border-bottom: 1px solid #000
            float: none 
            padding: 10px 
    
            &:hover 
              background: #000 

      