@media (max-width: 767px)

  body
    padding-right: 0 
    padding-left: 0 

  header#page
        
    nav
      float: none 
      
      ul 
        margin: 0 
        
        li 
          display: block 
          float: none 
          width: 100% 
          
          a 
            display: block 
            text-align: left 
            border-bottom: 1px solid #000
            float: none 
            padding: 10px 
    
            &:hover 
              background: #000 
    

  article.post
    +border-radius(0) 
    border-left: 0 
    border-right: 0 
    
    .post-nav
      .next
        text-align: left 
        margin-bottom: 10px 
    
    #comments
      h4 
        float: left 
        margin-right: 5px 
        
      .submitted
        text-align: left  
   
      .comment
        .speech-bubble
              
          .arrow 
            +css-arrow($gray_light, 8px, up)
            left: 10px 
            top: -17px 
            
      form.comment-form
        .form-actions
          input 
            width: 100%       
         
  .page-node-23     
    .work-list, 
    .work-info  
      width: 50%
      float: left 
      
    .work-list 
      max-width: 250px            