article.post 
  #comments
    form.comment-form
      position: relative 
      padding-bottom: 82px 
      
      .form-actions
        position: absolute 
        width: 100% 
        left: -20px           
        
        input 
          float: right 
          background: $blue
          border: 1px solid $blue_dark
          color: #fff
          +border-radius(5px) 
          padding: 10px
          width: 25% 
          
          &:hover 
            background: $blue_light
