@media (min-width: 768px) and (max-width: 979px) {
  /* line 4, ../../../sass/partials/responsive/media_l.sass */
  header#page nav {
    float: none; }
    /* line 7, ../../../sass/partials/responsive/media_l.sass */
    header#page nav ul {
      margin: 0; }
      /* line 10, ../../../sass/partials/responsive/media_l.sass */
      header#page nav ul li {
        display: block;
        float: none;
        width: 100%; }
        /* line 15, ../../../sass/partials/responsive/media_l.sass */
        header#page nav ul li a {
          display: block;
          text-align: left;
          border-bottom: 1px solid black;
          float: none;
          padding: 10px; }
          /* line 22, ../../../sass/partials/responsive/media_l.sass */
          header#page nav ul li a:hover {
            background: black; } }
